<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<title>Туристический портал г. Новая Ладога</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#f8f8f8"/>
		<link rel="stylesheet" href="/pages/styles/afisha.css" />
		<link rel="icon" href="/app/img/favicon.ico" />
	</head>

	<body>
		<header>
			<div class="container row center branding">
				<div class="container row center logos">
					<a href="../index" class="logo center"
						><img src="/app/img/adm.svg" alt="Герб администрации Новоладожского городского поселения"
					/></a>
					<a href="https://sreda47.ru/" class="logo center"
						><img src="/app/img/center.svg" alt="Логотип Цетра компетенции Ленинградской области"
					/></a>
				</div>
				<a href="/" class="container name" hidden>
					<span>Информационный портал</span>
					<span>Новая Ладога</span>
				</a>
			</div>
			<menu hidden>
				<a href="/about">О Новой Ладоге</a>
				<a href="/selfie">Селфи с Суворовым</a>
				<a href="/afisha" data-activeLink>Афиша</a>
				<details>
					<summary><span>Для туристов</span> <img alt="" role="presentation" src="/app/img/arrow.svg" /></summary>
					<div class="container">
						<a href="/cafe">Кафе</a>
						<a href="/hotels">Гостиницы</a>
						<a href="/brands">Бренды</a>
						<a href="/route">Веломаршрут</a>
						<a href="/festival">«Корюшка идёт!»</a>
					</div>
				</details>
				<a href="https://vk.com/newladogaadm" class="vk container center">
					<svg width="18" height="19" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.017 6.41253C15.1036 6.11994 15.017 5.9046 14.6003 5.9046H13.2217C12.8706 5.9046 12.7091 6.08951 12.6225 6.29549C12.6225 6.29549 11.9203 8.00652 10.9278 9.116C10.6071 9.43667 10.4597 9.53966 10.2841 9.53966C10.1975 9.53966 10.0641 9.43667 10.0641 9.14409V6.41253C10.0641 6.06143 9.9658 5.9046 9.67555 5.9046H7.50809C7.28807 5.9046 7.15699 6.06845 7.15699 6.22059C7.15699 6.55297 7.65322 6.63021 7.70471 7.56648V9.59818C7.70471 10.0429 7.62513 10.1248 7.44958 10.1248C6.98144 10.1248 5.84388 8.40678 5.16977 6.44062C5.03401 6.05909 4.90059 5.9046 4.54715 5.9046H3.16849C2.77526 5.9046 2.69568 6.08951 2.69568 6.29549C2.69568 6.66064 3.16381 8.47466 4.87484 10.8715C6.01475 12.5076 7.62045 13.3947 9.08102 13.3947C9.95878 13.3947 10.0664 13.1981 10.0664 12.8587C10.0664 11.2952 9.98686 11.1477 10.4269 11.1477C10.6305 11.1477 10.9816 11.2507 11.8009 12.0395C12.7372 12.9758 12.8916 13.3947 13.4159 13.3947H14.7946C15.1878 13.3947 15.3868 13.1981 15.2721 12.8096C15.0099 11.9927 13.2381 10.3121 13.1585 10.1997C12.9548 9.93758 13.0133 9.82054 13.1585 9.58648C13.1608 9.58413 14.8438 7.21538 15.017 6.41253Z" />
					</svg>
				</a>
			</menu>
			<img alt="выпадающий список" class="menu" src="/app/img/menu.svg" onclick="openMenu(`mobile`)" />
		</header>
		<main>
			<div class="container event-title">
				<h2>Афиша — новости Новой Ладоги</h2>
				<a href="{{sort == "old" ? "?page=" ~ currentPage ~ "&sort=new" : "?page=" ~ currentPage ~ "&sort=old"}}">
					<span>сначала {{sort == "old" ? "старые" : "новые"}}</span>
					<img src="/app/img/switch.svg" alt="" role="presentation" />
				</a>
			</div>
			<div class="items">
				{% for event in events %}
				<div class="container item">
					<div class="item-preview">
						<img alt="" src="{{ event.image }}" role="presentation" />
					</div>
					<div class="container item-about">
						<span class="container item-title">{{ event.name }}</span>
						<div class="container item-info">
							<div class="container item-when">
								<img alt="" src="/app/img/calendar.svg" role="presentation" />
								<span>{{ event.formatted_date }} года</span>
							</div>
							<div class="container item-description">
								<span>{{ event.description }}</span>
							</div>
							<a class="item-more" href="{{event.url}}">Подробнее</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% if currentPage and totalPages %}
			<div class="nav">
				<a href="{{sort ? "?page=" ~ (currentPage - 1) ~ "&" ~ "sort=" ~ sort : "?page=" ~ (currentPage - 1)}}" class="container {{currentPage == 1 ? 'arrow-disabled' : 'arrow'}} unselectable" role="navigation">
					<img alt="стрелочка вперед" src="/app/img/arrow-afisha.svg" role="navigation" />
					<span>Назад</span>
				</a>
				<div class="container pages desktop" role="navigation">
					    {% set start = totalPages - currentPage > 3 ? currentPage == 1 ? currentPage : currentPage - 1 : totalPages - 5 %}
						{% set end = totalPages %}
						{% for i in range(start, start + 2) %}
							<a href="{{ sort ? '?page=' ~ i ~ '&sort=' ~ sort : '?page=' ~ i }}" {% if i == currentPage %}data-activepage{% endif %}>{{ i }}</a>
						{% endfor %}
						{% if totalPages > 7 and (totalPages - currentPage) > 4 %}
							<span>...</span>
						{% endif %}
						{% for i in range(totalPages - 2, totalPages ) %}
							<a href="{{ sort ? '?page=' ~ i ~ '&sort=' ~ sort : '?page=' ~ i }}" {% if i == currentPage %}data-activepage{% endif %}>{{ i }}</a>
						{% endfor %}
				</div>
				<div class="container pages mobile" role="navigation">
					<span>Стр {{ currentPage }} из {{ totalPages }} </span>
				</div>
				<a href="{{sort ? "?page=" ~ (currentPage + 1) ~ "&" ~ "sort=" ~ sort : "?page=" ~ (currentPage + 1)}}" class="container {{currentPage >= totalPages ? 'arrow-disabled' : 'arrow'}} unselectable" role="navigation">
					<span>Вперёд</span>
					<img alt="стрелочка вперед" src="/app/img/arrow-afisha.svg" role="navigation" />
				</a>
			</div>
			{% endif %}
		</main>
		<footer>
			<div class="container row center branding">
				<div class="container row center logos">
					<a href="https://new-ladoga-adm.ru/" class="logo center"
						><img src="/app/img/adm.svg" alt="Герб администрации Новоладожского городского поселения"
					/></a>
					<a href="https://sreda47.ru/" class="logo center"
						><img src="/app/img/center-white.svg" alt="Логотип Цетра компетенции Ленинградской области"
					/></a>
				</div>
				<div class="container name">
					<span>Информационный портал</span>
					<span>Новая Ладога</span>
				</div>
			</div>
			<div class="container contacts">
				<span>контакты</span>
				<div class="container">
					<a href="tel:+7813630063">+7 813 63-00-63</a>
					<a href="mailto:new-ladoga@yandex.ru">new-ladoga@yandex.ru</a>
				</div>
			</div>
			<div class="container links">
				<div class="container linked">
					<a href="https://vk.com/newladogaadm" class="container">
						<svg width="18" height="19" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.017 6.41253C15.1036 6.11994 15.017 5.9046 14.6003 5.9046H13.2217C12.8706 5.9046 12.7091 6.08951 12.6225 6.29549C12.6225 6.29549 11.9203 8.00652 10.9278 9.116C10.6071 9.43667 10.4597 9.53966 10.2841 9.53966C10.1975 9.53966 10.0641 9.43667 10.0641 9.14409V6.41253C10.0641 6.06143 9.9658 5.9046 9.67555 5.9046H7.50809C7.28807 5.9046 7.15699 6.06845 7.15699 6.22059C7.15699 6.55297 7.65322 6.63021 7.70471 7.56648V9.59818C7.70471 10.0429 7.62513 10.1248 7.44958 10.1248C6.98144 10.1248 5.84388 8.40678 5.16977 6.44062C5.03401 6.05909 4.90059 5.9046 4.54715 5.9046H3.16849C2.77526 5.9046 2.69568 6.08951 2.69568 6.29549C2.69568 6.66064 3.16381 8.47466 4.87484 10.8715C6.01475 12.5076 7.62045 13.3947 9.08102 13.3947C9.95878 13.3947 10.0664 13.1981 10.0664 12.8587C10.0664 11.2952 9.98686 11.1477 10.4269 11.1477C10.6305 11.1477 10.9816 11.2507 11.8009 12.0395C12.7372 12.9758 12.8916 13.3947 13.4159 13.3947H14.7946C15.1878 13.3947 15.3868 13.1981 15.2721 12.8096C15.0099 11.9927 13.2381 10.3121 13.1585 10.1997C12.9548 9.93758 13.0133 9.82054 13.1585 9.58648C13.1608 9.58413 14.8438 7.21538 15.017 6.41253Z" />
						</svg>

						<span id="town-group">Группа города</span>
						<span id="town-group-desc" hidden>Группа города ВКонтакте</span>
					</a>
					<a href="https://new-ladoga-adm.ru/" class="container">
						<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M10.8613 9.3125C10.9138 8.87938 10.9531 8.44625 10.9531 8C10.9531 7.55375 10.9138 7.12063 10.8613 6.6875H13.0794C13.1844 7.1075 13.25 7.54719 13.25 8C13.25 8.45281 13.1844 8.8925 13.0794 9.3125M9.69969 12.9613C10.0934 12.2328 10.3953 11.4453 10.6053 10.625H12.5413C11.9055 11.7198 10.8968 12.5491 9.69969 12.9613ZM9.53563 9.3125H6.46438C6.39875 8.87938 6.35938 8.44625 6.35938 8C6.35938 7.55375 6.39875 7.11406 6.46438 6.6875H9.53563C9.59469 7.11406 9.64063 7.55375 9.64063 8C9.64063 8.44625 9.59469 8.87938 9.53563 9.3125ZM8 13.2238C7.45531 12.4363 7.01563 11.5634 6.74656 10.625H9.25344C8.98438 11.5634 8.54469 12.4363 8 13.2238ZM5.375 5.375H3.45875C4.08786 4.27712 5.09587 3.44644 6.29375 3.03875C5.9 3.76719 5.60469 4.55469 5.375 5.375ZM3.45875 10.625H5.375C5.60469 11.4453 5.9 12.2328 6.29375 12.9613C5.09824 12.5493 4.09156 11.7198 3.45875 10.625ZM2.92063 9.3125C2.81563 8.8925 2.75 8.45281 2.75 8C2.75 7.54719 2.81563 7.1075 2.92063 6.6875H5.13875C5.08625 7.12063 5.04688 7.55375 5.04688 8C5.04688 8.44625 5.08625 8.87938 5.13875 9.3125M8 2.76969C8.54469 3.55719 8.98438 4.43656 9.25344 5.375H6.74656C7.01563 4.43656 7.45531 3.55719 8 2.76969ZM12.5413 5.375H10.6053C10.3996 4.56231 10.0955 3.77776 9.69969 3.03875C10.9072 3.45219 11.9113 4.28563 12.5413 5.375ZM8 1.4375C4.37094 1.4375 1.4375 4.39063 1.4375 8C1.4375 9.74048 2.1289 11.4097 3.35961 12.6404C3.969 13.2498 4.69244 13.7332 5.48864 14.063C6.28484 14.3928 7.1382 14.5625 8 14.5625C9.74048 14.5625 11.4097 13.8711 12.6404 12.6404C13.8711 11.4097 14.5625 9.74048 14.5625 8C14.5625 7.1382 14.3928 6.28484 14.063 5.48864C13.7332 4.69244 13.2498 3.969 12.6404 3.35961C12.031 2.75023 11.3076 2.26684 10.5114 1.93704C9.71516 1.60724 8.8618 1.4375 8 1.4375Z" />
						</svg>

						<span>Сайт администрации</span>
					</a>
				</div>
				<div class="container linked">
					<a href="https://vk.com/gorodsreda47" class="container">
						<svg width="18" height="19" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M15.017 6.41253C15.1036 6.11994 15.017 5.9046 14.6003 5.9046H13.2217C12.8706 5.9046 12.7091 6.08951 12.6225 6.29549C12.6225 6.29549 11.9203 8.00652 10.9278 9.116C10.6071 9.43667 10.4597 9.53966 10.2841 9.53966C10.1975 9.53966 10.0641 9.43667 10.0641 9.14409V6.41253C10.0641 6.06143 9.9658 5.9046 9.67555 5.9046H7.50809C7.28807 5.9046 7.15699 6.06845 7.15699 6.22059C7.15699 6.55297 7.65322 6.63021 7.70471 7.56648V9.59818C7.70471 10.0429 7.62513 10.1248 7.44958 10.1248C6.98144 10.1248 5.84388 8.40678 5.16977 6.44062C5.03401 6.05909 4.90059 5.9046 4.54715 5.9046H3.16849C2.77526 5.9046 2.69568 6.08951 2.69568 6.29549C2.69568 6.66064 3.16381 8.47466 4.87484 10.8715C6.01475 12.5076 7.62045 13.3947 9.08102 13.3947C9.95878 13.3947 10.0664 13.1981 10.0664 12.8587C10.0664 11.2952 9.98686 11.1477 10.4269 11.1477C10.6305 11.1477 10.9816 11.2507 11.8009 12.0395C12.7372 12.9758 12.8916 13.3947 13.4159 13.3947H14.7946C15.1878 13.3947 15.3868 13.1981 15.2721 12.8096C15.0099 11.9927 13.2381 10.3121 13.1585 10.1997C12.9548 9.93758 13.0133 9.82054 13.1585 9.58648C13.1608 9.58413 14.8438 7.21538 15.017 6.41253Z" />
						</svg>

						<span>Группа ЦК Лен. обл.</span>
					</a>
					<a href="https://sreda47.ru/" class="container">
						<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M10.8613 9.3125C10.9138 8.87938 10.9531 8.44625 10.9531 8C10.9531 7.55375 10.9138 7.12063 10.8613 6.6875H13.0794C13.1844 7.1075 13.25 7.54719 13.25 8C13.25 8.45281 13.1844 8.8925 13.0794 9.3125M9.69969 12.9613C10.0934 12.2328 10.3953 11.4453 10.6053 10.625H12.5413C11.9055 11.7198 10.8968 12.5491 9.69969 12.9613ZM9.53563 9.3125H6.46438C6.39875 8.87938 6.35938 8.44625 6.35938 8C6.35938 7.55375 6.39875 7.11406 6.46438 6.6875H9.53563C9.59469 7.11406 9.64063 7.55375 9.64063 8C9.64063 8.44625 9.59469 8.87938 9.53563 9.3125ZM8 13.2238C7.45531 12.4363 7.01563 11.5634 6.74656 10.625H9.25344C8.98438 11.5634 8.54469 12.4363 8 13.2238ZM5.375 5.375H3.45875C4.08786 4.27712 5.09587 3.44644 6.29375 3.03875C5.9 3.76719 5.60469 4.55469 5.375 5.375ZM3.45875 10.625H5.375C5.60469 11.4453 5.9 12.2328 6.29375 12.9613C5.09824 12.5493 4.09156 11.7198 3.45875 10.625ZM2.92063 9.3125C2.81563 8.8925 2.75 8.45281 2.75 8C2.75 7.54719 2.81563 7.1075 2.92063 6.6875H5.13875C5.08625 7.12063 5.04688 7.55375 5.04688 8C5.04688 8.44625 5.08625 8.87938 5.13875 9.3125M8 2.76969C8.54469 3.55719 8.98438 4.43656 9.25344 5.375H6.74656C7.01563 4.43656 7.45531 3.55719 8 2.76969ZM12.5413 5.375H10.6053C10.3996 4.56231 10.0955 3.77776 9.69969 3.03875C10.9072 3.45219 11.9113 4.28563 12.5413 5.375ZM8 1.4375C4.37094 1.4375 1.4375 4.39063 1.4375 8C1.4375 9.74048 2.1289 11.4097 3.35961 12.6404C3.969 13.2498 4.69244 13.7332 5.48864 14.063C6.28484 14.3928 7.1382 14.5625 8 14.5625C9.74048 14.5625 11.4097 13.8711 12.6404 12.6404C13.8711 11.4097 14.5625 9.74048 14.5625 8C14.5625 7.1382 14.3928 6.28484 14.063 5.48864C13.7332 4.69244 13.2498 3.969 12.6404 3.35961C12.031 2.75023 11.3076 2.26684 10.5114 1.93704C9.71516 1.60724 8.8618 1.4375 8 1.4375Z" />
						</svg>

						<span>Сайт ЦК Лен. обл.</span>
					</a>
				</div>
			</div>
			<div class="container navigation">
				<span>навигация по сайту</span>
				<div class="container">
					<a href="/about">О Новой Ладоге</a>
					<a href="/selfie">Селфи с Суворовым</a>
					<a href="/afisha">Афиша</a>
					<a href="/cafe">Кафе</a>
					<a href="/brands">Бренды</a>
					<a href="/hotels">Гостиницы</a>
					<a href="/route">Веломаршрут</a>
					<a href="/festival">«Корюшка идёт»</a>
				</div>
			</div>
			<div class="madeby container">
				<span>Портал подготовлен Центром компетенций (ЦК) Ленинградской области</span>
				<a href="mailto:cc.lenreg@sreda47.ru">cc.lenreg@sreda47.ru</a>
			</div>
		</footer>
		<div id="menu-mob" hidden>
			<div class="container hdr">
				<div class="container row center branding">
					<div class="container row center logos">
						<a href="https://new-ladoga-adm.ru/" class="logo center"
							><img src="/app/img/adm.svg" alt="Герб администрации Новоладожского городского поселения"
						/></a>
						<a href="https://sreda47.ru/" class="logo center"
							><img src="/app/img/center.svg" alt="Логотип Цетра компетенции Ленинградской области"
						/></a>
					</div>
					<div class="container name">
						<span>Информационный портал</span>
						<span>Новая Ладога</span>
					</div>
				</div>
				<img alt="выпадающий список" class="menu" src="/app/img/close.svg" onclick="openMenu(`mobile`)" />
			</div>
			<div class="dialog">
				<details>
					<summary>
						<span>Для туристов</span>
						<img src="/app/img/arrow.svg" alt="" role="presentation" />
					</summary>
					<div class="container">
						<a href="/cafe">Кафе</a>
						<a href="/hotels">Гостиницы</a>
						<a href="/brands">Бренды</a>
						<a href="/route">Веломаршрут</a>
						<a href="/festival">Фестиваль «Корюшка идёт!»</a>
					</div>
				</details>
				<hr />
				<div class="container links">
					<div class="container urls">
						<a href="/about">О Новой Ладоге</a>
						<a href="/selfie">Селфи с Суворовым</a>
						<a href="/afisha">Афиша</a>
					</div>
					<div class="container linked">
						<a href="https://vk.com/newladogaadm" class="container">
							<svg width="18" height="19" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M15.017 6.41253C15.1036 6.11994 15.017 5.9046 14.6003 5.9046H13.2217C12.8706 5.9046 12.7091 6.08951 12.6225 6.29549C12.6225 6.29549 11.9203 8.00652 10.9278 9.116C10.6071 9.43667 10.4597 9.53966 10.2841 9.53966C10.1975 9.53966 10.0641 9.43667 10.0641 9.14409V6.41253C10.0641 6.06143 9.9658 5.9046 9.67555 5.9046H7.50809C7.28807 5.9046 7.15699 6.06845 7.15699 6.22059C7.15699 6.55297 7.65322 6.63021 7.70471 7.56648V9.59818C7.70471 10.0429 7.62513 10.1248 7.44958 10.1248C6.98144 10.1248 5.84388 8.40678 5.16977 6.44062C5.03401 6.05909 4.90059 5.9046 4.54715 5.9046H3.16849C2.77526 5.9046 2.69568 6.08951 2.69568 6.29549C2.69568 6.66064 3.16381 8.47466 4.87484 10.8715C6.01475 12.5076 7.62045 13.3947 9.08102 13.3947C9.95878 13.3947 10.0664 13.1981 10.0664 12.8587C10.0664 11.2952 9.98686 11.1477 10.4269 11.1477C10.6305 11.1477 10.9816 11.2507 11.8009 12.0395C12.7372 12.9758 12.8916 13.3947 13.4159 13.3947H14.7946C15.1878 13.3947 15.3868 13.1981 15.2721 12.8096C15.0099 11.9927 13.2381 10.3121 13.1585 10.1997C12.9548 9.93758 13.0133 9.82054 13.1585 9.58648C13.1608 9.58413 14.8438 7.21538 15.017 6.41253Z" />
							</svg>
							<span>Группа города ВКонтакте</span>
						</a>
						<a href="https://new-ladoga-adm.ru/" class="container">
							<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.8613 9.3125C10.9138 8.87938 10.9531 8.44625 10.9531 8C10.9531 7.55375 10.9138 7.12063 10.8613 6.6875H13.0794C13.1844 7.1075 13.25 7.54719 13.25 8C13.25 8.45281 13.1844 8.8925 13.0794 9.3125M9.69969 12.9613C10.0934 12.2328 10.3953 11.4453 10.6053 10.625H12.5413C11.9055 11.7198 10.8968 12.5491 9.69969 12.9613ZM9.53563 9.3125H6.46438C6.39875 8.87938 6.35938 8.44625 6.35938 8C6.35938 7.55375 6.39875 7.11406 6.46438 6.6875H9.53563C9.59469 7.11406 9.64063 7.55375 9.64063 8C9.64063 8.44625 9.59469 8.87938 9.53563 9.3125ZM8 13.2238C7.45531 12.4363 7.01563 11.5634 6.74656 10.625H9.25344C8.98438 11.5634 8.54469 12.4363 8 13.2238ZM5.375 5.375H3.45875C4.08786 4.27712 5.09587 3.44644 6.29375 3.03875C5.9 3.76719 5.60469 4.55469 5.375 5.375ZM3.45875 10.625H5.375C5.60469 11.4453 5.9 12.2328 6.29375 12.9613C5.09824 12.5493 4.09156 11.7198 3.45875 10.625ZM2.92063 9.3125C2.81563 8.8925 2.75 8.45281 2.75 8C2.75 7.54719 2.81563 7.1075 2.92063 6.6875H5.13875C5.08625 7.12063 5.04688 7.55375 5.04688 8C5.04688 8.44625 5.08625 8.87938 5.13875 9.3125M8 2.76969C8.54469 3.55719 8.98438 4.43656 9.25344 5.375H6.74656C7.01563 4.43656 7.45531 3.55719 8 2.76969ZM12.5413 5.375H10.6053C10.3996 4.56231 10.0955 3.77776 9.69969 3.03875C10.9072 3.45219 11.9113 4.28563 12.5413 5.375ZM8 1.4375C4.37094 1.4375 1.4375 4.39063 1.4375 8C1.4375 9.74048 2.1289 11.4097 3.35961 12.6404C3.969 13.2498 4.69244 13.7332 5.48864 14.063C6.28484 14.3928 7.1382 14.5625 8 14.5625C9.74048 14.5625 11.4097 13.8711 12.6404 12.6404C13.8711 11.4097 14.5625 9.74048 14.5625 8C14.5625 7.1382 14.3928 6.28484 14.063 5.48864C13.7332 4.69244 13.2498 3.969 12.6404 3.35961C12.031 2.75023 11.3076 2.26684 10.5114 1.93704C9.71516 1.60724 8.8618 1.4375 8 1.4375Z" />
							</svg>
							<span>Сайт администрации</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<script src="/scripts/menu.js"></script>
	</body>
</html>
